.sp-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: height .15s ease;
}
.sp-slider img {
    width: 100%;
    display: block;
    height: auto;
}
.sp-slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.sp-slide-canvas {
    flex: 1 !important;
}
.sp-canvas-piece {
    position: absolute;
    top: 0;
    left: 0;
}
.sp-canvas-right {
    left: 50%;
}
.sp-dot-wrapper {
    position: absolute;
    display: flex;
    top: 50%;
    width: 50px;
    overflow: hidden;
    right: 20px;
    transform: translateY(-50%);
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sp-dot {
    padding: 10px 0;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
}
.sp-dot span {
    height: 3px;
    width: 30px;
    background: #fff;
    transition: width .15s ease;
    display: block;
    margin-left: auto;
}
.sp-dot.sp-dot-active span {
    width: 50px;
}
